*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #0a0a0a;
    list-style: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
a{
    color: #0a0a0a;
}
body::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: rgb(227, 227, 227);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: black;    /* цвет плашки */
    // border-radius: 20px;       /* закругления плашки */
    // border: 3px solid orange;  /* padding вокруг плашки */
}
// html{
//     overflow: visible;
// }
body{
    &.frozen{
        overflow: hidden !important;
        position: relative !important;
        height: 100% !important;
        touch-action: none;
        -ms-touch-action: none;
    }
    background: white;
    // &::before{
    //     content: '';
    //     position: fixed;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     z-index: 11;
    //     background: rgba(0, 0, 0, 0.7);
    //     opacity: 0;
    //     backdrop-filter: blur(4px);
    //     pointer-events: none;
    //     transition: .4s;
    // }
}


#app{
    &.app_loading{
        overflow: hidden;
        .app__loaderScreen{
            pointer-events: all;
        }
    }
    .app__loaderScreen{
        overflow: hidden;
        height: 100vh;
        top: 55px;
        position: fixed;
        z-index: 6;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        // transition: opacity .4s;
        // .app__loaderSpiner{
        //     width: 48px;
        //     height: 48px;
        //     position: relative;
        //     &::before , &::after{
        //         content: '';
        //         position: absolute;
        //         left: 50%;
        //         top: 50%;
        //         transform: translate(-50% , -50%);
        //         width: 48em;
        //         height: 48em;
        //         background-image:
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0),
        //           radial-gradient(circle 10px, #24abef 100%, transparent 0);
        //         background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
        //                              13em -13em, -13em -13em, 13em 13em, -13em 13em;
        //           background-repeat: no-repeat;
        //         font-size: 0.5px;
        //         border-radius: 50%;
        //         animation: blast 1s ease-in infinite;
        //     }
        //     &::after {
        //         font-size: 1px;
        //         background: #24abef;
        //         animation: bounce 1s ease-in infinite;
        //     }
    
        //     @keyframes bounce {
        //         0% , 100%{ font-size: 0.75px }
        //         50% { font-size: 1.5px }
        //     }
        //     @keyframes blast {
        //         0% , 40% {
        //           font-size: 0.5px;
        //         }
        //         70% {
        //           opacity: 1;
        //           font-size: 4px;
        //         }
        //          100% {
        //            font-size: 6px;
        //           opacity: 0;
        //         }
        //     }
        // }
        .app__loaderSpiner{
            position: relative;
            width: 80px;
            height: 120px;
            animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
            &::before , &::after{
                content: "";
                background: #ff3d00 ;
                width: 80px;
                height: 120px;
                border-radius: 50px 50px 0 0;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: rotate(45deg);
                transform-origin: 50% 68%;
                box-shadow: 5px 4px 5px #0004 inset;
            }
            &::after {
                transform: rotate(-45deg);
            }
    
            @keyframes heartBeat {
                0% { transform: scale(0.95) }
                5% { transform: scale(1.1) }
                39% { transform: scale(0.85) }
                45% { transform: scale(1) }
                60% { transform: scale(0.95) }
                100% { transform: scale(0.9) }
              }
        }
    
    }
}

.page{
    // overflow: auto;
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 40px;
    .pageTitle{
        font-size: 28px;
        margin: 0;
    }
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}


.header{
    // height: 75px;
    // display: flex;
    // align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    // padding: 8px 0;
    background: white;
    box-shadow: 1px 0px 3px black;
    .header__container{
        display: flex;
        align-items: center;
    }
    .header__menu{
        margin-left: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        a{
            position: relative;
            font-size: 16px;
            color: #0a0a0a;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 5px;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                height: 1px;
                background: #0a0a0a;
                width: 0;
                transition: .4s;
            }
            @media (min-width: 650px) {
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }

            .currentIcon{
                display: none;
            }
        }
        .header__menu__mobileTitle{
            display: none;
        }
    }

    .header__basket{
        margin-left: auto;
    }

    .header__burger{
        display: none;
    }
}
.footer{
    position: relative;
    z-index: 5;
    background: white;
    padding: 30px 0;
    // border-top: 1px solid black;
    box-shadow: 1px 0px 3px black;
    .footer__container{
        display: grid;
        grid-template-columns: 70px auto auto 1fr;
        gap: 40px;
    }
    .footerPart{
        display: flex;
        flex-direction: column;
        gap: 5px;
        .footerPart__title{
            font-size: 17px;
            font-weight: 600;
        }
        .footerPart__item{
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}


.basket{
    padding: 8px 0;
    position: relative;
    @media (min-width: 650px) {
        &:hover{
            .basketWrap{
                &:not(.empty){
                    background: #24abef;
                    border: 1px solid #249cd7;
                }
                &.empty{
                    // .basketText{
                    //     transform: translateX(0px);
                    // }
                }
            }
        } 
    }


    .basketWrap{
        text-decoration: none;
        padding-left: 20px;
        display: flex;
        align-items: stretch;
        border: 1px solid transparent;
        background: transparent;
        // border: 1px solid #249cd7;
        border-radius: 25px;   
        transition: .4s;
        &:not(.empty){
            .basketText{
                color: white;
            }
        }
        &.empty{
            .basketText{
                cursor: default;
                color: rgb(139, 5, 5);
                transform: translateX(15px);
            }
        }
    }
    .basketText{
        display: flex;
        align-items: center;
        cursor: pointer;
        pointer-events: none;
        position: relative;
        font-weight: 600;
        z-index: 1;
        // margin-right: 5px;
        font-size: 14px;
        // opacity: 0;
        // transition: .4s;
    }
    .basketIcon{
        position: relative;
        z-index: 2;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: scale(1.15);
        // cursor: pointer;
    }


    .basketInfoContainer{
        position: absolute;
        // height: 200px;
        width: 500px;
        // min-width: 200px;
        // max-width: 400px;
        right: 0;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: white;
        // box-shadow: 0px 5px 5px 1px #6d6d6d45;
        border: 1px solid #aaaaaa;
        // transform: translateY(30px);
        // opacity: 0;
        pointer-events: none;
        // transition: .4s;
        // transition-delay: 0s, 0s, .4s;
        // transition-property: opacity, transform, box-shadow;
    }


    &.basket_visible{
        .basketText{
            pointer-events: all;
            // opacity: 1;
            // transform: translateX(0);
        }
        .basketInfoContainer{
            // opacity: 1;
            // transform: translateY(0);
            pointer-events: all;
        }
    }
}
.basketList{
    .basketListWrap{
        .basketListItem{
            height: 60px;
            padding: 0px 8px;
            display: grid;
            grid-template-columns: 20px 55px 1fr auto;
            align-items: center;
            gap: 5px;
            background: white;
            &:not(:last-of-type){
                border-bottom: 1px solid #aaaaaa;
            }
    
            // & > *{
            //     height: 100%;
            //     display: flex;
            //     align-items: center;
            // }
    
            .basketListItem__remove{
                align-self: center;
                width: 20px;
                height: 20px;
                background: url(https://cdn.icon-icons.com/icons2/789/PNG/512/delete_icon-icons.com_65184.png) no-repeat center / contain;
                // border-radius: 50%;
                opacity: .6;
                transition: .4s;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                    box-shadow: 0px 0px 10px grey;
                    border-radius: 3px;
                }
            }
            .basketListItem__imageBlock{
                // margin: 5px;
                margin-left: 5px;
                max-height: 100%;
                flex-shrink: 0;
                position: relative;
                aspect-ratio: 1/1;
                cursor: pointer;
                & img{
                    display: block;
                    object-fit: contain;
                }
            }
            .basketListItem__name{
                padding-left: 5px;
                align-self: center;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                font-size: 15px;
                cursor: pointer;
            }
            .basketListItem__price{
                display: none;
            }
            .shopChangeBasketCount{
                display: flex;
                height: 26px;
                align-items: stretch;
                justify-content: space-between;
                // gap: 3px;
                .shopChangeBasketCount__decr,.shopChangeBasketCount__add{
                    width: 24px;
                    font-size: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 0;
                    cursor: pointer;
                    border: 2px solid #DEDEDE;
                    transition: .4s;
                    &:hover{
                        border-color: rgb(152, 152, 152);
                    }
                }
                .shopChangeBasketCount__number{
                    max-width: 70px;
                    height: 100%;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    outline: none;
                    border: none;
                    overflow: hidden;
                    border-radius: 0;
                    text-overflow: ellipsis;
                    background: transparent;
                    border-top: 2px solid #DEDEDE;
                    border-bottom: 2px solid #DEDEDE;
                    transition: .4s;
                    &::placeholder{
                        color: black;
                    }
                    &:focus{
                        background-color: #DEDEDE;
                    }
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        /* display: none; <- Crashes Chrome on hover */
                        -webkit-appearance: none;
                        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                    }
                }
            }
        }
    }
    .basketList__total{
        display: none;
    }
}


.notifications{
    position: fixed;
    z-index: 10;
    right: 15px;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    .notifications__item{
        padding: 8px 20px;
        padding-left: 15px;
        font-size: 17px;
        // text-transform: uppercase;
        font-weight: 600;
        background: rgb(76, 180, 76);
        box-shadow: 0px 0px 10px rgb(76, 180, 76);
        color: white;
        border-radius: 5px;
        opacity: 0;
        // transform: translateX(50px);
        display: flex;
        align-items: center;
        gap: 10px;
        // transition: .4s;
        &::before{
            content: '';
            width: 32px;
            height: 32px;
            background: url(https://cdn4.iconfinder.com/data/icons/ballicons-2-new-generation-of-flat-icons/100/tick-1024.png) no-repeat center / contain;
        }
        // &.notifications__item_shown{
        //     opacity: 1;
        //     transform: translateX(0px);
        // }
        // &.notifications__item_hidden{
        //     opacity: 0;
        //     transform: translateX(-50px);
        // }
    }
}


.breads{
    display: block;
    width: 100%;
    max-width: 100%;
    // overflow: hidden;
    // display: flex;
    // align-items: center;
    // gap: 8px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    white-space: nowrap;

    .breads__item{
        display: inline;
        flex-shrink: 0;
        color: white;
        font-size: 16px;
        text-decoration: none;
        font-weight: 300;
        &:not(:last-child){
            font-weight: 500;
            &::after{
                content: '⚪';
                display: inline-block;
                font-size: 7px;
                position: relative;
                top: -3px;
                // width: 15px;
                // height: 10px;
                // -webkit-filter: brightness(0) invert(1);
                // filter: brightness(0) invert(1);
                // background: url(https://cdn1.iconfinder.com/data/icons/ui-essential-25/32/04022023_1002-10-1024.png) no-repeat center / contain;
                padding-left: 8px;
                padding-right: 8px;
                flex-shrink: 0;
            }
        }
    }
}



@media (max-width: 1140px) {
    .container{
        margin: 0 20px;
    }
}

@media (max-width: 850px) {
    .footer{
        // .footer__container {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     gap: 25px;
        // }
        // .footer__logoWrap{
        //     img{
        //         width: 50px !important;
        //         height: 50px !important;
        //     }
        // }
        // .footerPart{
        //     align-items: center;
        // }
        .footer__container {
            grid-template-columns: 50% 1fr;
            gap: 25px;
        }
        .footer__logoWrap{
            justify-self: center;
            grid-column: 1/3;
            img{
                width: 50px !important;
                height: 50px !important;
            }
        }

        // .footerPart{
        //     &:nth-of-type(3){
        //         grid-column: 2/3;
        //     }
        // }
    }
}

@media (max-width: 650px) {
    .container{
        margin: 0 10px;
    }

    .page{
        padding-top: 85px;
        padding-bottom: 45px;
    }

    .header{
        .header__menu{
            // position: absolute;
            // top: 58px;
            // left: 0;
            // right: 0;
            // margin-left: 0;
            // display: flex;
            // justify-content: space-between;
            // padding: 10px 15px;
            // background: #ffffffb4;
            // backdrop-filter: blur(5px);
            // border-top: 1px solid #cbcbcb;
            // border-bottom: 1px solid #cbcbcb;
            position: fixed;
            z-index: 4;
            top: 58px;
            right: 0;
            bottom: 0;
            left: 0;
            margin-left: 0;
            background: linear-gradient(to bottom, #ffffff 25%, rgba(255, 255, 255, 0));
            border-top: 1px solid #b3b3b3;
            backdrop-filter: blur(8px);
            height: 100vh;
            display: flex;
            gap: 20px;
            flex-direction: column;
            padding-top: 25px;
            padding-right: 20px;
            justify-content: flex-start;
            align-items: flex-end;
            pointer-events: none;
            opacity: 0;
            transition: .4s;
            will-change: opacity;
            &::before{
                content: "";
                display: inline-block;
                width: 339px;
                height: 210px;
                position: absolute;
                left: -58px;
                top: 18px;
                opacity: 0.65;
                background: url(https://static.vecteezy.com/system/resources/previews/008/518/137/original/payment-system-with-drug-shop-on-background-vector.jpg) no-repeat center/contain;
            }
            &.header__menu_visible{
                pointer-events: all;
                opacity: 1;
            }
            & a{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                align-items: center;
                &::after{
                    display: none;
                }

                .currentIcon{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-left: 6px;
                    background: grey;
                    // opacity: 0;
                    right: 0;
                    transition: .4s;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        transform: scale(1.45);
                        border-radius: 50%;
                        border: 1px solid grey;
                    }
                }
                &.current{
                    .currentIcon{
                        background: #47bec7;
                        &::before{
                            border-color: #24abef;
                        }
                        // &::after{
                        //     content: '';
                        //     position: absolute;
                        //     width: 100%;
                        //     height: 100%;
                        //     transform: scale(1.55);
                        //     border-radius: 50%;
                        //     border: 1px solid #24abef;
                        //     will-change: scale;
                        //     animation: currentHeaderLink infinite alternate-reverse 1s;
                        //     @keyframes currentHeaderLink {
                        //         0%{
                        //             transform: scale(1.4);
                        //             opacity: .5;
                        //         }
                        //         100%{
                        //             transform: scale(2);
                        //             opacity: 1;
                        //         }
                        //     }
                        // }
                    }
                }
            }
            .header__menu__mobileTitle{
                position: relative;
                z-index: 5;
                display: inline-block;
                font-size: 30px;
                font-weight: 600;
                text-shadow: 0px 4px 3px #24abef6b;
                // margin-bottom: 5px;
                // &::after{
                //     content: '';
                //     position: absolute;
                //     right: 0;
                //     bottom: -15px;
                //     width: 155px;
                //     height: 1px;
                //     border-radius: 10px;
                //     background: black;
                // }
            }
        }

        .header__burger{
            position: relative;
            margin-left: 15px;
            width: 30px;
            height: 25px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 7px;
            .header__burgerLine{
                flex-shrink: 0;
                width: 100%;
                height: 4px;
                // background: #249cd7;
                background: black;
                border-radius: 5px;
                opacity: 1;
                transform: rotateZ(0);
                transition: .4s;
            }
            &.header__burger_close{
                .header__burgerLine{
                    background: #e83738;
                    &:nth-of-type(1){
                        position: absolute;
                        transform: rotateZ(45deg);
                    }
                    &:nth-of-type(2){
                        position: absolute;
                        transform: rotateZ(-45deg);
                    }
                    &:nth-of-type(3){
                       opacity: 0;
                    }
                }
            }
        }
    }

    .breads{
        .breads__item{
            font-size: 14px;
            &:not(:last-child){
                &::after{
                    font-size: 6px;
                }
            }
        }
    }

    .basket{
        .basketWrap {
            // transition: .4s;
            // &.empty{
            //     opacity: 0;
            // }
            transition: .4s;
            &:not(.empty){
                background: #24abef;
                border: 1px solid #249cd7;
            }
        }
    }

    .notifications{
        gap: 7px;
        top: 68px;
        right: 10px;
        left: 10px;
        .notifications__item{
            font-size: 16px;
            &::before{
                display: none;
            }
        }
    }
    

    .footer{
        padding: 20px 0;
    }
}