.shop{

}

.shopFilters{
    margin: 20px 0;
    .shopFilters__part{
        &:first-of-type{
            margin-bottom: 15px;
        }
    }
    .shopFilters__title{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
    }
    .shopFilters__wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .shopFilters__item{
        position: relative;
        padding-right: 26px;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #DEDEDE;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
        user-select: none;
        transition: .4s;
        &.default{
            // padding-right: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            &.active{
                // background: #24abef;
                background: #7e75ff;
                color: white;
                border-color: transparent;
            }
        }
        &.select{
            padding: 0;
            & select{
                cursor: pointer;
                padding: 5px 5px;
                border: none;
                outline: none;
                background: transparent;
                transition: .4s;
            }
            &.active{
                & select{
                    color: white;
                }
                background: #7e75ff;
                color: white;
                border-color: transparent;
            }
        }
        &.radio{
            display: flex;
            align-items: center;
            &::before{
                content: '';
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
                background: #DEDEDE;
                box-shadow: 0px 0px 0px 0px transparent;
                transition: .4s;
            }
            &.active{
                background: #7e75ff;
                color: white;
                border-color: transparent;
                &::before{
                    background: #09ef09;
                    box-shadow: 0px 0px 2px 3px #1bb71b;
                }
            }
        }

        &:hover{
            border: 1px solid #aaaaaa;
        }
    }
}

.shopList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 20px;
}

.shopItem{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px transparent;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    & *{
        text-decoration: none;
    }

    @media (min-width: 650px) {
        &:hover{
            box-shadow: 0px 0px 5px 1px #6d6d6d;
            .shopItem__image{
                transform: scale(1);
            }
        }
    }
    .shopItem__image-block{
        position: relative;
        flex: 0 0 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 10px;
    }
    .shopItem__image{
        max-height: 100%;
        max-width: 95%;
        will-change: transform;
        transform: scale(.85);
        object-fit: contain;
        transition: .6s;
    }
    .shopItem__cat{
        // position: absolute;
        // left: 10px;
        // top: 10px;
        margin-bottom: 3px;
        align-self: flex-start;
        padding: 2px 7px;
        font-size: 12px;
        background: #2f4f61;
        color: white;
        border-radius: 6px;
    }


    .shopItem__info{
        flex: 1 0 auto;
        margin-top: 5px;
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .shopItem__title{
            // text-align: center;
            margin-bottom: 7px;
            flex: 1 0 auto;
            font-size: 16px;
            font-weight: 500;
        }
        .shopItem__price{
            // margin-left: auto;
            margin-bottom: 7px;
            font-size: 15px;
            flex-shrink: 0;
            // flex: 1 0 auto;
        }
        // .shopItem__cat{
        //     margin-bottom: 3px;
        //     font-size: 14px;
        // }
    }

    .notInStock{
        cursor: default;
        background: #ff7474;
        // margin-top: 10px;
        color: white;
        padding: 8px 0;
        font-weight: 500;
        text-align: center;
        user-select: none;
        transition: .4s;
    }
}

.shopAddToBasket{
    position: relative;
    &.notInStock{
        cursor: default;
        background: #ff7474;
        color: white;
        padding: 8px 0;
        font-weight: 500;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    @media (min-width: 650px) {
        &:hover{
            .shopAddToBasket__counter{
                transform: translateY(calc(-100% + 1px));   
            }
        }
    }
    .shopAddToBasket__counter{
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(0);
        border-top: 1px solid #DEDEDE;
        background: #f7f6f9;
        display: flex;
        transition: .4s;
        .shopAddToBasket__input{
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            max-width: 100%;
            padding: 6px 0;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
        }
        .shopAddToBasket__countAdd,.shopAddToBasket__countIncr{
            position: absolute;
            background: #24abef;
            color: white;
            width: 30px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            transition: .4s;
            cursor: pointer;
            @media (min-width: 650px) {
                &:hover{
                    background: #1893d1;
                }
            }
        }
        .shopAddToBasket__countAdd{
            right: 0px;
        }
        .shopAddToBasket__countIncr{
            left: 0px;
        }
    }
    .shopAddToBasket__button{
        position: relative;
        z-index: 3;
        // margin-top: 10px;
        background: #24abef;
        color: white;
        padding: 8px 0;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        user-select: none;
        transition: .4s;
        &:hover{
            background: #1893d1;
        }
    }
}

.shopPagination{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    .shopPagination__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #8f8f8f;
        color: #0a0a0a;
        text-decoration: none;
        cursor: pointer;
        transition: .4s;

        &:not(.shopPagination__prev,.shopPagination__next,.current){
            &:hover{
                // border: 1px solid #aaaaaa;
                // background: #8f8f8f;
                // color: white;
                box-shadow: 0px 0px 3px 1px #6b6b6b;
            }
        }

        &.current{
            background: #7e75ff;
            color: white;
        }
        &.shopPagination__prev{
            border: none;
            transform: scale(-1) translateX(0);
            background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Next_right_arrow_black_outline.svg/640px-Next_right_arrow_black_outline.svg.png) no-repeat center / contain;
            &:hover{
                transform: scale(-1) translateX(5px);
            }
        }
        &.shopPagination__next{
            border: none;
            background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Next_right_arrow_black_outline.svg/640px-Next_right_arrow_black_outline.svg.png) no-repeat center / contain;
            transform: translateX(0);
            &:hover{
                transform: translateX(5px);
            }
        }
        &.shopPagination__next,&.shopPagination__prev{
            opacity: 0;
            pointer-events: none;
            &.visible{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

.confirm{
    // min-height: 80vh;
    .confirmWrap{
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: 25px;
    }
    .confirmTitle{
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    .confirmList{

        .basketList{
            border-radius: 5px;
            border: 1px solid #DEDEDE;
            overflow: hidden;
            .basketListWrap{
                // min-height: 240px;
                .basketListItem{
                    height: 67px;
                    grid-template-columns: 20px 60px 1fr auto;
                    gap: 5px;
                    &:not(:last-of-type){
                        border-bottom: 1px solid #DEDEDE;
                    }
    
                    .basketListItem__remove{
                        // width: 25px;
                        // height: 25px;
                        // background-size: 25px;
                    }
                    .basketListItem__imageBlock{
             
                    }
                    .basketListItem__name{
                        padding-left: 10px;
                        font-size: 17px;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        font-weight: 500;
                        .basketListItem__price{
                            font-weight: 300;
                            display: initial;
                            font-size: 14px;
                        }
                    }
    
                    .shopChangeBasketCount{
                        .shopChangeBasketCount__number{
                            max-width: 70px;
                            // font-size: 19px;
                        }
                    } 
                }
   
            }
            .basketList__total{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                display: inline-block;
                background: #2f4f61;
                padding: 13px;
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
        }
    }

    
    .basketOrder{
        // margin-top: 30px;
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
        // gap: 15px;
        display: flex;
        flex-direction: column;
        .basketOrder__title{
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 700;  
        }

        .basketOrderForm{
            display: flex;
            flex-direction: column;
            width: 100%;
            // max-width: 500px;
            gap: 10px;
            border: 1px solid #DEDEDE;
            padding: 15px 10px;
            border-radius: 5px;
            & input, & select{
                height: 40px;
                padding: 10px 15px;
                border: 1px solid #DEDEDE;
                outline: none;
                border-radius: 5px;
            }
            .basketOrderForm__submit{
                color: white;
                background: #24abef;
                padding: 15px 40px;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                border: none;
                transition: .4s;
                &:hover{
                    box-shadow: 0px 0px 10px #24abef;
                }
            }
        }
        // #24abef
    }
}

.product{
    .product__wrap{
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 35px;
    }

    .product__breads{
        margin-bottom: 3px;
        .breads__item{
            color: rgb(82, 82, 82);
            font-size: 15px;
            // color: black;
            &:not(:last-child){
                &::after{
                    content: '⚫';
                    opacity: .7;
                }
            }
        }
    }

    .product__block{
        width: 100%;
        &:first-of-type{

        }
        &.imageMobile{
            display: none;
        }
    }
    .product__imageBlock{
        position: relative;
        height: 300px;
        border: 1px solid #DEDEDE;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: static !important;
            min-width: 95%;
            max-height: 95%;
            object-fit: contain;
        }
    }
    .product__title{
        font-size: 28px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
    }


    .product__infoPanel{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 10px 0;
        border-bottom: 1px solid #c3c3c3;
        border-top: 1px solid #c3c3c3;
        font-size: 15px;
    }
    .product__cat{
        // margin-bottom: 3px;
        align-self: flex-start;
        padding: 3px 10px;
        // font-size: 15px;
        background: #2f4f61;
        color: white;
        border-radius: 6px;
    }
    .productStock{
        display: flex;
        align-items: center;
        gap: 5px;
        // font-size: 16px;
        &::before{
            content: '';
            width: 8px;
            height: 8px;
            flex-shrink: 0;
            border-radius: 50%;
        }
        &.productStock_false{
            &::before{
                background: red;
            }
        }
        &.productStock_true{
            &::before{
                background: green;
            }
        }
    }


    .product__descr{
        margin-top: 15px;
        & h2{
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 19px;
        }
        p{
            margin-bottom: 5px;
            font-size: 15px;
        }
    }
}


@media (max-width: 1000px) {
    .shopList{
        // display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-auto-flow: row;
        // grid-auto-rows: auto;
        // grid-gap: 20px;
        gap: 20px;
    }

    .confirm{
        .confirmWrap{
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}

@media (max-width: 750px) {
    .product{
        .product__wrap{
            gap: 25px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}

@media (max-width: 650px) {
    .shopList{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .shopItem{
        border: 1px solid #DEDEDE;
        .shopItem__image-block{
            flex: 0 0 135px;
        }
        .notInStock{
            height: 37px;
        }
    }
    

    .shopAddToBasket{
        .shopAddToBasket__button{
            height: 37px;
        }
        .shopAddToBasket__counter{
            position: static;
            height: 32px;
            & .shopAddToBasket__countAdd, & .shopAddToBasket__countIncr{
                width: 32px;
                // background: #3c4043;
                background: #DEDEDE;
                color: rgb(79, 79, 79);
                // #DEDEDE
                
            }
        }
    }

    .product{
        .product__title{
            margin-bottom: 8px;
            font-size: 24px;
        }

        .product__breads{
            grid-column: initial;
            // margin-bottom: 5px;
            // .breads__item{
            //     // font-size: 35px;
            //     &:not(:last-child){
            //         &::after{
            //             content: '⚫';
            //         }
            //     }
            // }
        }

        .product__block{
            &.imageMobile{
                // margin-top: 15px;
                display: inherit;
            }
            &.imageDesktop{
                display: none;
            }
            .shopAddToBasket{
                .shopAddToBasket__button{
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .shopAddToBasket__counter{
                    height: 38px;
                    border-top: none;
                    & .shopAddToBasket__countAdd, & .shopAddToBasket__countIncr{
                        width: 38px;
                    }
                }
            }
        }
        .product__infoPanel{
            gap: 15px;
            padding: 10px;
            border-color: #DEDEDE;
            border-left: 1px solid #DEDEDE;
            border-right: 1px solid #DEDEDE;
            border-bottom: none;

            padding: 0;
            border: none;
            margin-bottom: 10px;
        }
    }

    .confirm{
        .confirmTitle{
            margin-bottom: 15px;
            // text-align: center;
        }
        .basketOrder{
            .basketOrder__title{
                margin-bottom: 15px;
                // text-align: center;
            }
        }
        .confirmList .basketList .basketListWrap .basketListItem{
            padding: 8px 10px;
            height: auto;
            grid-template-columns: 20px 90px 1fr;
            gap: 5px;
            & * {
                text-decoration: none;
            }
            .basketListItem__remove{
                grid-row: 1/3;
                &:hover{
                    box-shadow: none;
                }
            }
            .basketListItem__imageBlock{
                margin-right: 5px;
                grid-row: 1/3;
                img{
                    object-position: center;
                }
            }
            .basketListItem__name{
                padding-left: 0;
                text-wrap: wrap;
            }
            .shopChangeBasketCount{
                grid-column: 3/4;
                height: 40px;
                .shopChangeBasketCount__number{
                    flex: 1 1 auto;
                    max-width: initial;
                }
                .shopChangeBasketCount__add, .shopChangeBasketCount__decr{
                    width: 40px;
                }
            }
        }
    }
}
   